##### The cell below is for you to keep track of the libraries used and install those libraries quickly
##### Ensure that the proper library names are used and the syntax of `%pip install PACKAGE_NAME` is followed

In [4]:
#%pip install pandas 
#%pip install matplotlib
# add commented pip installation lines for packages used as shown above for ease of testing
# the line should be of the format %pip install PACKAGE_NAME

## **DO NOT CHANGE** the filepath variable
##### Instead, create a folder named 'data' in your current working directory and 
##### have the .parquet file inside that. A relative path *must* be used when loading data into pandas

### **ALL** Code for machine learning and dataset analysis should be entered below. 
##### Ensure that your code is clear and readable.
##### Comments and Markdown notes are advised to direct attention to pieces of code you deem useful.

In [7]:
# Can have as many cells as you want for code
import pandas as pd
filepath = "./data/catB_train.parquet" 
# the initialised filepath MUST be a relative path to a folder named data that contains the parquet file



df = pd.read_parquet(filepath)


cols_df1 = df.columns[:8]  
cols_df2 = df.columns[8:18]  
cols_df3 = df.columns[18:24] 
cols_df4 = df.columns[24:34]  
cols_df5 = df.columns[34:41] 
cols_df6 = df.columns[41:158]  
cols_df7 = df.columns[158:272] 
cols_df8 = df.columns[272:] 

df1 = df[cols_df1]
df2 = df[cols_df2]
df3 = df[cols_df3]
df4 = df[cols_df4]
df5 = df[cols_df5]
df6 = df[cols_df6]
df7 = df[cols_df7]
df8 = df[cols_df8]

df1 = df1.drop(columns=df1.columns[:2])
df3 = df3[df3.columns[2:3]]
df3 = df3[df3.columns[2:3]]
df4 = df4.iloc[:, [0, 1, 2, 8, 9]]
df6 = df6.drop(columns=df6.columns[96:103])
df6 = df6.astype('float')
df7_1 = df7[df7.columns[78:85]]
df7_2 = df7[df7.columns[110:135]]
df7 = pd.concat([df7_1, df7_2], axis=1)
df8 = df8.drop(columns = df.columns[272:303])


#combining columns in cat 6 based on ape, sumins and prempaid

ape_av = df6.columns[0:30].to_list() + df6.columns[89:96].to_list()
df6['av_ape'] = df6[ape_av].mean(axis=1)
df6 = df6.drop(columns=ape_av)

sumins_av = df6.columns[0:29].to_list() + df6.columns[59:67].to_list()
df6['av_sumins'] = df6[sumins_av].mean(axis=1)
df6 = df6.drop(columns=sumins_av)

prempaid_av = df6.columns[0:36]
df6['av_prempaid'] = df6[prempaid_av].mean(axis=1)
df6 = df6.drop(columns=prempaid_av)

df6.head
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8], axis=1)
df = df.drop_duplicates()

### Dealing with missing data

In [8]:
# Detecting NaN and None

null = pd.isnull(df)
null.head()

# Filling null values

df.fillna(0)

#Count the total number of missing values

pd.isnull(df).sum().sum()

for x in df.index:
    if df.loc[x, "ctrycode_desc"] == "Not Applicable":
        df.drop(x, inplace=True)
        
for x in df.index:
    if df.loc[x, "annual_income_est"] == '':
        df.replace(to_replace = None, value = 0)
  



income = df['annual_income_est']
income.value_counts()


csv_output = "./data/catB_train.csv" 
df.to_csv(csv_output, index = False)

#df["flg_substandard"][21]
df

,ctrycode_desc,clttype,stat_flag,min_occ_date,cltdob_fix,cltsex_fix,flg_substandard,flg_is_borderline_standard,flg_is_revised_term,flg_is_rental_flat,...,f_ever_bought_lh_e22a6a,f_ever_bought_grp_70e1dd,f_ever_bought_grp_e04c3a,f_ever_bought_grp_fe5fb8,f_ever_bought_grp_94baec,n_months_last_bought_grp_e91421,n_months_last_bought_lh_f852af,n_months_last_bought_lh_947b15,n_months_last_bought_32c74c,f_purchase_lh
19550,Singapore,P,ACTIVE,2017-10-31,1974-05-09,Female,0.0,0.0,0.0,0.0,...,1,0,0,0,0,9999,9999,9999,9999,NaN
4600,Singapore,P,ACTIVE,2007-05-23,1979-11-11,Male,0.0,0.0,0.0,0.0,...,1,0,0,0,0,9999,9999,9999,9999,NaN
13337,Singapore,P,ACTIVE,2019-08-31,1976-01-28,Male,0.0,0.0,0.0,0.0,...,0,0,0,0,0,9999,9999,9999,9999,NaN
15074,Singapore,P,ACTIVE,2021-10-18,1976-03-19,Female,0.0,0.0,0.0,0.0,...,0,0,0,0,0,9999,9999,9999,9999,NaN
19724,Singapore,P,ACTIVE,2018-07-20,1995-07-31,Female,0.0,0.0,0.0,0.0,...,0,0,0,0,0,9999,9999,9999,9999,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11284,Singapore,P,LAPSED,2016-08-01,1994-05-24,Male,0.0,0.0,0.0,0.0,...,0,1,0,0,0,9999,9999,9999,36,NaN
11964,Singapore,P,ACTIVE,1990-03-20,1948-12-16,Male,0.0,0.0,0.0,0.0,...,0,0,0,0,0,9999,9999,407,9999,NaN
5390,Singapore,P,ACTIVE,2007-12-31,1967-12-06,Female,0.0,0.0,0.0,0.0,...,0,0,0,0,0,9999,9999,9999,9999,NaN
860,Singapore,P,ACTIVE,2007-09-01,1986-04-01,Male,0.0,0.0,0.0,0.0,...,0,1,0,0,0,9999,9999,9999,9999,NaN
15795,Singapore,P,ACTIVE,2011-10-24,1970-05-15,Male,0.0,0.0,0.0,0.0,...,0,0,0,0,0,9999,9999,9999,9999,NaN

## The cell below is **NOT** to be removed
##### The function is to be amended so that it accepts the given input (dataframe) and returns the required output (list). 
##### It is recommended to test the function out prior to submission
-------------------------------------------------------------------------------------------------------------------------------
##### The hidden_data parsed into the function below will have the same layout columns wise as the dataset *SENT* to you
##### Thus, ensure that steps taken to modify the initial dataset to fit into the model are also carried out in the function below

In [9]:
def testing_hidden_data(hidden_data: pd.DataFrame) -> list:
    '''DO NOT REMOVE THIS FUNCTION.

The function accepts a dataframe as input and return an iterable (list)
of binary classes as output.

The function should be coded to test on hidden data
and should include any preprocessing functions needed for your model to perform. 
    
All relevant code MUST be included in this function.'''
    result = [] 
    return result

##### Cell to check testing_hidden_data function

In [12]:
# This cell should output a list of predictions.
test_df = pd.read_parquet(filepath)
test_df = test_df.drop(columns=["f_purchase_lh"])
print(testing_hidden_data(test_df))

PermissionError: [Errno 1] Operation not permitted

### Please have the filename renamed and ensure that it can be run with the requirements above being met. All the best!